table {
  width: 400px;
  text-align: center;
  background: #5ac0c1;
  height: 210px;
  border-radius: 10px;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
  font-weight: 700;
}
