<!-- user-list.component.html -->
<div class="table-container">
  <table mat-table [dataSource]="users" class="mat-elevation-z2">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let user">{{ user.name }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let user">{{ user.username }}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let user">{{ user.phone }}</td>
    </ng-container>

    <!-- Street Column -->
    <ng-container matColumnDef="street">
      <th mat-header-cell *matHeaderCellDef>Street</th>
      <td mat-cell *matCellDef="let user">{{ user.address.street }}</td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let user">{{ user.address.city }}</td>
    </ng-container>

    <!-- Zipcode Column -->
    <ng-container matColumnDef="zipcode">
      <th mat-header-cell *matHeaderCellDef>Zipcode</th>
      <td mat-cell *matCellDef="let user">{{ user.address.zipcode }}</td>
    </ng-container>

    <!-- Latitude Column -->
    <ng-container matColumnDef="latitude">
      <th mat-header-cell *matHeaderCellDef>Latitude</th>
      <td mat-cell *matCellDef="let user">
        {{ user.address.geo.lat }} Latitude
      </td>
    </ng-container>

    <!-- Longitude Column -->
    <ng-container matColumnDef="longitude">
      <th mat-header-cell *matHeaderCellDef>Longitude</th>
      <td mat-cell *matCellDef="let user">{{ user.address.geo.lng }}</td>
    </ng-container>

    <!-- Company Name Column -->
    <ng-container matColumnDef="companyName">
      <th mat-header-cell *matHeaderCellDef>Company Name</th>
      <td mat-cell *matCellDef="let user">{{ user.company.name }}</td>
    </ng-container>

    <!-- Catch Phrase Column -->
    <ng-container matColumnDef="catchPhrase">
      <th mat-header-cell *matHeaderCellDef>Catch Phrase</th>
      <td mat-cell *matCellDef="let user">{{ user.company.catchPhrase }}</td>
    </ng-container>

    <!-- Website Column -->
    <ng-container matColumnDef="website">
      <th mat-header-cell *matHeaderCellDef>Website</th>
      <td mat-cell *matCellDef="let user">{{ user.website }}</td>
    </ng-container>

    <!-- Business Scope (BS) Column -->
    <ng-container matColumnDef="bs">
      <th mat-header-cell *matHeaderCellDef>Business Scope (BS)</th>
      <td mat-cell *matCellDef="let user">{{ user.company.bs }}</td>
    </ng-container>

    <!-- Define the columns to be displayed -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<div *ngIf="loading" class="loading-message">Loading...</div>
<div *ngIf="error" class="error-message">{{ error }}</div>
