/* view-user.component.scss */

table {
  width: 100%;
  overflow-x: auto;
  max-width: 100%;
  border-collapse: collapse;
}

.table-container {
  max-width: 80rem; /* Set the maximum height as per your design */
  overflow-x: auto; /* Enable vertical scrollbar when the content overflows */
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.mat-cell,
.mat-header-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  font-size: 18px;
  background-color: rgb(160, 54, 54);
  color: rgb(43, 41, 41);
}

.loading-message,
.error-message {
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #e74c3c;
  border-radius: 4px;
  // background-color: #f2dede;
  color: #a94442;
}

.loading-message {
  color: #31708f;
  // background-color: #d9edf7;
  border-color: #bce8f1;
}
