<h1>Login</h1>
<div class="container">
  <form [formGroup]="loginForm">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text" placeholder="Email" formControlName="email" />
      <mat-error>Email is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
        autocomplete="on"
      />
      <mat-error>Password is required</mat-error>
      <mat-error>minimum 8 characters is required</mat-error>
    </mat-form-field>
    <div>
      <button
        mat-raised-button
        color="accent"
        (click)="formSubmit()"
        [disabled]="loginForm.invalid"
      >
        Submit
      </button>
    </div>
    <div>
      <a [routerLink]="'/signup'">Dont have an account Sign Up!</a>
    </div>
  </form>
  {{ loginForm.value | json }}
</div>
