<!-- <app-data-binding></app-data-binding> -->
<ui-todo></ui-todo>

<!-- <div class="container">
  <app-parent>
  </app-parent>
</div> -->
<!-- <div>
  <h1>Parent</h1>
  <form #parent="ngForm">
    <label for="name">name</label>
    <input
      type="text"
      name="firstName"
      #name="ngModel"
      [(ngModel)]="firstName"
    />
  </form> -->
<!-- <div>
    <button (click)="sendDataToChild()">submit!</button>
  </div> -->
<!-- <div>
    {{ firstName }}
  </div> -->
<!-- </div>
<app-child [pData]="firstName"></app-child> -->
