<!-- billing-information.component.html -->
<form [formGroup]="infoForm" (ngSubmit)="formSubmit()">
  <div class="billing-container">
    <div class="billing-title">Billing Information</div>

    <input
      type="text"
      formControlName="firstName"
      class="billing-input-col"
      placeholder="First Name"
    />
    <input
      type="text"
      formControlName="lastName"
      class="billing-input-col"
      placeholder="Last Name"
    />
    <input
      type="text"
      formControlName="address"
      class="billing-input"
      placeholder="Address"
    />
    <input
      type="text"
      formControlName="addressLineTwo"
      class="billing-input"
      placeholder="Address Line 2"
    />

    <input
      type="text"
      formControlName="state"
      class="billing-input-col"
      placeholder="State/Province"
    />
    <input
      type="text"
      formControlName="district"
      class="billing-input"
      placeholder="district"
    />
    <input
      type="text"
      formControlName="postal"
      class="billing-input-col"
      placeholder="Postal/Zip Code"
    />

    <div formArrayName="skills">
      <h4>Add Skills</h4>
      <ng-container *ngFor="let skill of infoForm.get('skills')['controls'] ">
        <input type="text" placeholder="add skill" />
      </ng-container>
    </div>

    

    <button type="submit" class="billing-submit" (click)="formSubmit()">
      Submit
    </button>
  </div>
</form>
<!-- <div>
  <h2>States</h2>
  <ul>
    <li *ngFor="let state of states">{{ state.name }}</li>
  </ul>
</div> -->

<!-- {{ infoForm.value | json }} -->

<!-- billing-information.component.html -->


<!--  -->