.container {
  width: calc(100vw - 300px);
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  gap: 10px;
}
.form-items {
  display: grid;
  grid-template-columns: 75px 1fr;
}

label {
  font-weight: 900;
}

button {
  grid-column: 2;
  margin: auto;
  background-color: black;
}

button:disabled {
  grid-column: 2;
  margin: auto;
  background-color: rgb(183, 182, 182);
}

table {
  width: 600px;
}
th {
  text-align: left;
}
