<div class="container">
  <h1>{{ name }}</h1>
  <form #todoForm="ngForm">
    <label for="title">ToDo:</label>
    <input
      name="title"
      placeholder="Enter a ToDo"
      type="text"
      #title="ngModel"
      required
      [(ngModel)]="todo.title"
    />
    <label for="priority">Priority:</label>
    <input
      name="priority"
      type="number"
      #priority="ngModel"
      required
      [(ngModel)]="todo.priority"
    />
    <label for="done">Done:</label>
    <input
      name="done"
      type="checkbox"
      #done="ngModel"
      required
      [(ngModel)]="todo.done"
    />
    <button
      type="button"
      [disabled]="!todoForm.form.valid"
      (click)="addToDo(todoForm)"
    >
      Add ToDo
    </button>
  </form>

  <ul *ngFor="let todo of todos">
    <li>{{ todo.title }}</li>
    <li>{{ todo.priority }}</li>
    <li>{{ todo.done ? "Done" : "Not Done" }}</li>
  </ul>
</div>
