<div class="container">
<mat-toolbar color="primary">
  <mat-toolbar-row>{{ name }}</mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-card-content>
    <form #todoForm="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>Enter your Todo</mat-label>
        <input
          matInput
          type="text"
          #title="ngModel"
          name="title"
          required
          [(ngModel)]="todo.title"
        />
        <mat-error *ngIf="title.invalid"> Todo tittle is required! </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Priority</mat-label>
        <input
          matInput
          type="number"
          #priority="ngModel"
          name="priority"
          required
          [(ngModel)]="todo.priority"
        />
        <mat-error *ngIf="priority.invalid">Enter Priority</mat-error>
      </mat-form-field>

      <mat-checkbox [checked]="todo.done" (change)="todo.done = !todo.done"
        >Done</mat-checkbox
      >
      <div class="btn">
        <button
          mat-button-raised
          color="primary"
          type="button"
          (click)="addToDo(todoForm)"
          [disabled]="!todoForm.form.valid"
        >
          Add Todo
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<!-- <div class="display">
  <app-todo-list [toDoList]="todos" (ChildEvent)="deleteToDo($event)">
  </app-todo-list>
</div> -->